@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/spinners";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
  overflow-x: hidden;
}

svg {
  width: 1em;
  height: 1em;
  fill: white;
}

.btn > svg {
  margin: 0 .3em .15em 0;
}

li.list-group-item-action:not(.active):hover {
  cursor: pointer;
}

@keyframes fadeInRight {
  from {
    transform: translateX(2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(2rem);
    opacity: 0;
  }
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-2rem);
    opacity: 0;
  }
}

.root {
  &.forwards {
    animation: fadeInRight .25s ease;

    &.old {
      animation-name: fadeOutLeft;
    }
  }

  &.backwards {
    animation: fadeInLeft .25s ease;

    &.old {
      animation-name: fadeOutRight;
    }
  }

  &.old {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
